---
title: "Seg start"
date: "2026-04-14"
effort: "låg"
meme: "https://i.programmerhumor.io/2023/03/programmerhumor-io-programming-memes-b592bb1eb466dde.png"
---

# Trögt på hjärnkontoret

text om prokrastinering och de små framsteg sedan sist.

<ol style="list-style-type:numeric; list-style-position:inside;">
<li> Delmoment 3</li>
<li> Delmoment 5 - Tog inspiration från ___ </li>
<li> Moment 3 - omprioriterat - detta behövs för funktionalitet </li>
</ol>